<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareMeals-landing_page</title>
    <link rel="stylesheet" href="/static/landing_page_donor_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <ul>
                <li><a href="login-link">Login</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="#our-impact">Our Impact</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="#home">Home</a></li>
                <p>ShareMeals</p>
            </ul>
        </div>
    </div>
    <div class="main-landing">
        <div class="home" id="home">
            <div class="main-landing-section">
                <h1>ShareMeals</h1>
                <p style="margin-top: 10px;">"Building Bridges: Connecting NGOs to Empower Lives"</p>
                <button onclick="window.location.href = 'donate';" class="landing-donate-btn" style="margin-top: 30px;">Donate: One step towards a happy India</button>
            </div>
        </div>

        <div class="about-us" id="about">
            <div class="about-us-heading-container">
                <h1 class="about-us-heading">Our Aim</h1>
            </div>
            <div class="about-us-main"> 
                <img class="about-us-pic" src="/static/about_us_pic.jpg" alt="">
                <p class="about-us-about">Our Aim is to develop an app to combat food waste & hunger by connecting NGOs with local establishments - restaurants/hotel. This platform enables food donors to upload surplus food details (type, quantity, expiry) for NGOs to view and arrange pickup/delivery. Incorporate a rating system for transparency and accountability. Plus give an option to restaurant customers to donate anything they want to from the restaurant menu and when restaurant has bulk of donation order they can make it and pass it on to NGOs.</p>
            </div>
        </div>

        <div class="our-impact" id="our-impact">
            <div class="our-impact-heading-container">
                <h1 class="our-impact-heading">Our Impact</h1>
            </div>

            <div class="our-impact-main-sections">
                <div class="section">
                    <img class="section1-image" src="/static/happy_section1.jpg" alt="">
                    <div class="section-para-parent">
                        <p class="section-para">We are the medium who is connecting 100's of capable organisation and able providers to ensure no one sleep empty stomach and live a happy life.It will help children in their education and will make India the next superpower.</p>
                    </div>
                </div>
    
                <div class="section">
                    <img class="section2-image" src="/static/happy_section2.jpg" alt="">
                    <div class="section-para-parent">
                        <p class="section-para">In india thousand of people loose their life due to hunger, and tons of food got wasted .Isnt this a irony, and we are the one who is solving this and contributing our mind so that not a single person in india should sleep empty stomach.</p>
                    </div>
                </div>

                <div class="section">
                    <img class="section1-image" src="/static/happy_section3.jpg" alt="">
                    <div class="section-para-parent">
                        <p class="section-para">In the long term we are aiming to extend our helping hand to developing countries of Africa and Western Asia. By connecting with the local helping body and the supplier.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-us" id="contact">
            <div class="about-us-heading-container">
                <h1 class="contact-us-heading">Reach out to us</h1>
            </div>

            <div class="contact-us-para">
                <div class="contact-us-contact">
                    <i class="fa-solid fa-phone"></i>
                    <h2>Phone</h2>
                    <p>1234567890</p>
                </div>
                <div class="contact-us-contact">
                    <i class="fa-solid fa-envelope"></i>
                    <h2>Email</h2>
                    <p>ShareMeals@gmail.com</p>
                </div><div class="contact-us-contact">
                    <i class="fa-brands fa-square-instagram"></i>
                    <h2>Instagram</h2>
                    <a target="_blank" href="https://www.instagram.com/sharemeals_/">ShareMeals</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>