<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar-template</title>
    <link rel="stylesheet" href="/static/ngo_signup_style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
</head>

<body>
    
    <div class="navbar">
        <div><p class="logo">ShareMeals</p></div>
        <div class="nav-left">
            <ul>
                <li><a href="login-link">Login</a></li>
                <li><a href="home#contact">Contact Us</a></li>
                <li><a href="home#our-impact">Our Impact</a></li>
                <li><a href="home#about">About us</a></li>
                <li><a href="home">Home</a></li>
            </ul>
        </div>
    </div>  
    
    <div class="form-body">
        <div id="login-form-wrap">
            <h2>SignUP - NGO</h2>
            <form id="login-form" action="/signup-ngo" method="POST">
                <p>
                <input type="text" id="ngoname" name="ngoname" placeholder="Name - NGO" required><i class="validation"><span></span><span></span></i>
                </p>
                <p>
                    <input type="text" id="tagline" name="tagline" placeholder="NGO - Tagline" required><i class="validation"><span></span><span></span></i>
                    </p>
                    <p>
                        <input type="text" id="about" name="about" placeholder="About" required><i class="validation"><span></span><span></span></i>
                        </p>
                        <p>
                            <input type="text" id="contact" name="contact" placeholder="Contact number" required><i class="validation"><span></span><span></span></i>
                            </p>
                <p>
                    <input type="email" id="email" name="email" placeholder="E-mail" required><i class="validation"><span></span><span></span></i>
                    </p>
                <p>
                <input type="text" id="password" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
                </p>
                
    
                <p>
                <input type="submit" id="createaccount" value="Create Account">
                </p>
            </form>
        </div><!--login-form-wrap-->
        <!-- partial -->
    </div>
    
</body>
</html>