<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Example</title>
    <link rel="stylesheet" href="/static/ngo_donor_login_link_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <ul>
                <li><a href="login-link">Login</a></li>
                <li><a href="home#contact">Contact Us</a></li>
                <li><a href="home#our-impact">Our Impact</a></li>
                <li><a href="home#about">About us</a></li>
                <li><a href="home#home">Home</a></li>
                <p>ShareMeals</p>
            </ul>
        </div>
    </div>  
    <div class="card-container">
        <div class="card">
            <img src="https://images.pexels.com/photos/3865544/pexels-photo-3865544.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Card Image 1">
            <h3>NGO</h3>
            <p>Login with us and fight with hunger by nourishing India.</p>
            
            <a href="login-ngo">Login</a>
        </div>

        <div class="card">
            <img src="https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Card Image 2">
            <h3>Donor</h3>
            <p>Lets fight together to tackle food waste and hunger. Donate food, Save food.</p>
            <a href="login-donor">Login</a>
        </div>
    </div>
</body>
</html>