<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potential-ngo-list</title>
    <link rel="stylesheet" href="/static/sample_style.css">
</head>
<body>
    <div class="section">
        <img class="section2-image" src="/static/vikas.jpg" alt="">
        <div class="section-para-parent">
            <div class="section-heading-container">
                <h1>Prayas</h1>
            </div>
            <div class="tag-line-container">
                <p>This is a sample tag line</p>
            </div>
            <div class="section-para-container"> 
                <p class="section-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ullam corporis, ipsum voluptatem odio quam incidunt reprehenderit excepturi ipsam modi rem soluta iusto accusamus error magni libero architecto adipisci id?</p>
            </div>
            <div class="donate-btn-container">
                <button class="doante-btn">Donate</button>
            </div>
            
        </div>
    </div>
</body>
</html>